* {
    font-family: Arial, Helvetica, sans-serif;
}
*.dark-theme {
    color: white;
}
*.light-theme {
    color: black;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.6;
}
#nav {
    padding: 20px 20px 20px 20px;
    position: absolute;
    width: 100vw;
}
#nav.light-theme {
    background-color: whitesmoke;
}
#nav.dark-theme {
    background-color: #3a5a5a;
}
.nav-item {
    padding: inherit;
}
.nav-item.light-theme {
    color: darkslategrey;
}
.nav-item.dark-theme {
    color: whitesmoke;
}
.nav-item:hover {
    opacity: 1;
}
html,
body {
    margin: 0;
    padding: 0;
}
body.light-theme {
    background-color: white;
}
body.dark-theme {
    background-color: darkslategray;
}
#themeChanger {
    background-color: #3085d6;
    color: #fff;
    border: 0;
    box-shadow: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
}
#themeChanger:active {
    background-color: #236bb0;
}
#themeChanger:focus.light-theme {
    box-shadow: 0 0 0 2px whitesmoke, 0 0 0 4px #a7adb2;
    outline: none;
}
#themeChanger:focus.dark-theme {
    box-shadow: 0 0 0 2px #3a5a5a, 0 0 0 4px #a7adb2;
    outline: none;
}
.sticky {
    top: 0;
}
#content.light-theme,
#content.dark-theme {
    padding: 90px 0 0 0;
}
* {
    overflow: hidden;
}
