@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');

* {
    font-family: Arial, Helvetica, sans-serif;
}
.dark-theme {
    color: white;
}
.light-theme {
    color: black;
}
#nav-mobile,
#sidebar {
    display: none;
    position: absolute;
}
#content {
    z-index: 0;
}
#nav-mobile {
    position: static;
}
#sidebar-container {
    z-index: 500;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background-color: #0006;
    display: none;
    top: 0;
}
#sidebar {
    top: inherit;
    height: inherit;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.6;
}
#nav {
    padding: 20px;
    position: absolute;
    width: 100vw;
    white-space: nowrap;
}
#nav.light-theme,
#nav-mobile.light-theme {
    background-color: whitesmoke;
}
#nav.dark-theme,
#nav-mobile.dark-theme {
    background-color: #3a5a5a;
}
.nav-item {
    padding: inherit;
}
.nav-item.light-theme {
    color: darkslategrey;
}
.nav-item.dark-theme {
    color: whitesmoke;
}
.nav-item:hover {
    opacity: 1;
}
html,
body {
    margin: 0;
    padding: 0;
}
body.light-theme {
    background-color: white;
}
body.dark-theme {
    background-color: darkslategray;
}
#themeChanger {
    background-color: #3085d6;
    color: #fff;
    border: 0;
    box-shadow: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
}
#themeChanger:active {
    background-color: #236bb0;
}
#themeChanger:focus.light-theme {
    box-shadow: 0 0 0 2px whitesmoke, 0 0 0 4px #a7adb2;
    outline: none;
}
#themeChanger:focus.dark-theme {
    box-shadow: 0 0 0 2px #3a5a5a, 0 0 0 4px #a7adb2;
    outline: none;
}
.sticky {
    top: 0;
}
#content.light-theme,
#content.dark-theme {
    padding: 90px 0 0 0;
}
body {
    overflow-x: hidden;
}
#content * {
    margin: 0 30px;
    font-family: 'Montserrat', sans-serif;
}
.title {
    font-size: 300%;
}
.subtitle {
    font-size: 200%;
}
.title,
.subtitle {
    font-weight: normal;
}
#nav-mobile {
    padding: 20px;
    position: absolute;
    width: 100vw;
    white-space: nowrap;
}
.mobile-icon {
    margin: 0 20px;
}
.sidebar-item-container {
    padding: 10px 20px;
}
#sidebar.dark-theme {
    background-color: #3a5a5a;
}
#sidebar.light-theme {
    background-color: whitesmoke;
}